@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .bx-button {
      @apply rounded-lg  m-2 lowercase border-0 relative overflow-hidden 
      font-sans text-3xl  not-italic font-medium leading-none tracking-normal 
      text-center cursor-pointer inline-block 
      w-44 h-12 text-white transition-all ease-in-out
      before:content-[''] before:absolute before:-z-10 before:inset-0;
    }
    

    .bx--button--primary {
      @apply text-white bg-orange-500;
    }
}

.by-button {
    text-align: center;
    font-size: 30px;
    padding:10px 30px;
    margin: 10px;
    border:0;
    text-transform:lowercase;
    border-radius: 20px;
    display: inline-block;
    overflow:hidden;
    transition: all 0.4s cubic-bezier(.86,.01,.15,.99);
    position: relative;
  }
.by-button::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0;
  }



.button-fx-hover {
    background: #ff7e44;
    color:white;
    transition: all 0.5s ease-out;
    transform: perspective(1px) translateZ(0);
}
  
  
.button-fx-hover:hover {
    color:white;
    transition: all 0.4s cubic-bezier(.42,0,0.58,1);
}
  
.button-fx-hover::before {
    clip-path: circle(0.5% at 50% 50%);
    background: #e5713d;
    transition: all 0.5s ease-out;
    background-color: rgba(229, 113, 61,0.01);
}
  
.button-fx-hover:hover::before {
    clip-path: circle(120% at 50% 50%);
    background-color: rgba(229, 113, 61,1);
}

.ease-linear { 
    transition-timing-function: linear; 
}
.ease-in { 
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.ease-out { 
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1); 
}
.ease-in-out { 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}